@import "../../../assets/styles/global";

.ga-container {
    height: 100%;
    width: 100%;
    #ga-1 {
        margin-top: 4%;
        height: 50vh;
        position: relative;
        background-color: $black;
        &::before {
            background-image: url("../../../assets/images/solutions/gain-agility/gainagility-bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0.6;
        }
        .heading {
            gap: 2em;
            color: $white;
            text-align: center;
            height: 100%;
            isolation: isolate;
            p {
                width: 90%;
            }
        }
    }
    #ga-2 {
        height: 50vh;
        text-align: center;
        .heading {
            height: 100%;
            h3,
            p {
                width: 85%;
            }
        }
    }
    #ga-3 {
        height: 50vh;
        .heading {
            height: 100%;
            gap: 2em;
            ul {
                padding: 0;
                li {
                    padding: 10px 5px;
                }
            }
        }
    }
    #ga-4 {
        height: 80vh;
        background-color: #f7f7f7;
        text-align: center;
        .heading {
            height: 20%;
        }
        .card-container {
            height: 80%;
            .sub-container {
                height: 100%;
                width: 100%;
                .cards {
                    height: 90%;
                    width: 40%;
                    h5 {
                        font-style: oblique;
                    }
                }
            }
        }
    }
}
