@import "../../../../assets/styles/global";

.demand-service-container {
    height: 100%;
    width: 100%;
    #ods-1 {
        margin-top: 5%;
        height: 70vh;
        text-align: center;
        .heading {
            height: 30%;
        }
        .card-container {
            height: 70%;
            .cards {
                height: 70%;
                width: 30%;
                h5 {
                    font-style: oblique;
                }
            }
        }
    }
}
