@import "../../../../assets/styles/global";

.plan-design-container {
    height: 100%;
    width: 100%;
    #plan-design-1 {
        margin-top: 4%;
        height: 70vh;
        position: relative;
        background-color: $black;
        &::before {
            background-image: url("../../../../assets/images/products-services/support-services/plan-design/plan-design-bg.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0.7;
        }
        .heading {
            color: $white;
            text-align: center;
            height: 100%;
            gap: 2em;
            isolation: isolate;
            h2,
            h4,
            p {
                width: 90%;
            }
        }
    }
    .plan-design-heading {
        margin-top: 1%;
        text-align: center;
        padding: 30px 10px;
        background-color: $black;
        color: $white;
        width: 10%;
    }
    #plan-design-3 {
        height: 50vh;
        text-align: center;
        .card-container {
            height: 100%;
            .sub-container {
                height: 100%;
                width: 100%;
            }
            .cards {
                height: 75%;
                width: 30%;
                h5 {
                    font-style: oblique;
                }
            }
        }
    }
}
