@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-between {
  justify-content: space-between;
}

.f-around {
  justify-content: space-around;
}

.f-align-center {
  align-items: center;
}

.f-justify-center {
  justify-content: center;
}

.nav-link {
  font-size: 1.5em;
}

.heading-1 {
  font-size: 6em;
}

.heading-2 {
  font-size: 4.5em;
}

.heading-3 {
  font-size: 4em;
}

.heading-4 {
  font-size: 3.5em;
}

.heading-5 {
  font-size: 2em;
}

.main-para {
  font-size: 2em;
}

.sub-para,
span {
  font-size: 1.5em;
}

.hyper-link {
  font-size: 1.1em;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.main-para,
.sub-para {
  margin: 0;
  padding: 0;
}

.cs-container #cs-1 {
  margin-top: 4%;
  height: 60vh;
}
.cs-container #cs-1 .colocation-img {
  height: 100%;
}
.cs-container #cs-2 {
  height: 100vh;
  text-align: center;
}
.cs-container #cs-2 .heading {
  height: 20%;
}
.cs-container #cs-2 .heading p {
  width: 75%;
  font-style: oblique;
}
.cs-container #cs-2 .card-container {
  height: 80%;
}
.cs-container #cs-2 .card-container .sub-container {
  height: 80%;
  width: 100%;
}
.cs-container #cs-2 .card-container .sub-container .cards {
  height: 75%;
  width: 40%;
  padding: 20px;
}
.cs-container #cs-2 .card-container .sub-container .cards h5 {
  font-style: oblique;
}
.cs-container #cs-3 {
  height: 120vh;
  text-align: center;
  position: relative;
  background-color: #000;
}
.cs-container #cs-3::before {
  background-image: url("../../../assets/images/datacenters/colocation-services/shen-difference.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.6;
}
.cs-container #cs-3 .heading {
  gap: 2em;
  height: 20%;
  color: #fff;
  isolation: isolate;
}
.cs-container #cs-3 .card-container {
  height: 80%;
  isolation: isolate;
}
.cs-container #cs-3 .card-container .sub-container {
  height: 100%;
  width: 100%;
}
.cs-container #cs-3 .card-container .sub-container .cards {
  background-color: #fff;
  width: 30%;
  height: 60%;
  padding: 20px;
}
.cs-container #cs-3 .card-container .sub-container .cards h5 {
  font-style: oblique;
}
.cs-container #cs-4 {
  height: 70vh;
  text-align: center;
  position: relative;
  background-color: #000;
}
.cs-container #cs-4::before {
  background-image: url("../../../assets/images/datacenters/colocation-services/colocation-deploy.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.7;
}
.cs-container #cs-4 .heading {
  gap: 2em;
  color: #fff;
  height: 100%;
  isolation: isolate;
}
.cs-container #cs-4 .heading p {
  width: 90%;
}/*# sourceMappingURL=colocation.css.map */