@import "../../../../assets/styles/global";

.darkfiber-container {
    height: 100%;
    width: 100%;
    #darkfiber-1 {
        margin-top: 4%;
        height: 50vh;
        position: relative;
        background-color: $black;
        &::before {
            background-image: url("../../../../assets/images/products-services/interconnection-services/dark-fiber/dark-fiber-bg.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0.6;
        }
        .heading {
            color: $white;
            text-align: center;
            height: 100%;
            isolation: isolate;
            h2 {
                width: 90%;
            }
        }
    }
    #darkfiber-2 {
        height: 30vh;
        background-color: #f5f5f5;
        .heading {
            text-align: center;
            height: 100%;
            p {
                width: 90%;
            }
        }
    }
    .darkfiber-heading {
        margin-top: 1%;
        text-align: center;
        padding: 30px 10px;
        background-color: $black;
        color: $white;
        width: 20%;
    }
    #darkfiber-3 {
        height: 60vh;
        text-align: center;
        .card-container {
            height: 100%;
            .sub-container {
                height: 100%;
                width: 100%;
            }
            .cards {
                height: 80%;
                width: 30%;
                h5 {
                    font-style: oblique;
                }
            }
        }
    }
}
