@import "../../../assets/styles/global";

.ss-container {
    height: 100%;
    width: 100%;
    #ss-1 {
        margin-top: 4%;
        height: 70vh;
        position: relative;
        background-color: $black;
        &::before {
            background-image: url("../../../assets/images/products-services/support-services/support-service-bg.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            position: absolute;
            inset: 0;
            opacity: 0.7;
        }
        .heading {
            gap: 2em;
            color: $white;
            text-align: center;
            height: 100%;
            isolation: isolate;
            h1,
            p {
                width: 90%;
            }
        }
    }
    #ss-2 {
        background-color: #f7f7f7;
        height: 100vh;
        text-align: center;
        .heading {
            text-align: center;
            height: 20%;
        }
        .card-container {
            height: 80%;
            .sub-container {
                height: 100%;
                width: 100%;
            }
            .cards {
                cursor: pointer;
                height: 80%;
                width: 40%;
                padding: 20px;
                .hyper-link {
                    font-style: none;
                    gap: 1em;
                }
                h5 {
                    font-style: oblique;
                }
            }
        }
    }
}
